.card-hed{
	padding-top: 60px;
}
h4{
	text-transform: uppercase;
	font-family: 'Myriad Pro Regular';
	font-size: 18px;
	padding-top: 50px;
	

}
p {
	font-family: 'Myriad Pro Regular';
	padding-top: 50px;
	font-size: 14px;


}
.text{
	margin-top: -36px;
}
.on-clic {
	text-decoration: none;
display: none;
position: absolute;
color: #f47d42;
}
a:hover{
	color: #f47d42;
	text-decoration: none;
}

.numbers-card{
padding-top: 100px;
}

---------------------------------------- workingup ---------------------------------------------------


.card-img-top{
padding-left:20px;
}

.card:hover{
transform: scale(1.2);
background:#f6bb1b;
box-shadow: 3px 3px 3px #7b4805;
}

.cart-row-ur{
	padding-top: 50px;
	padding-left: 100px;
}
.clik-cart{
	color: #181819;

}
.clik-cart:hover{

}

.derc-cart-4{
	padding-top: 200px;
	height: 100px;
}

.partners-up{
	padding-top: 200px;
}
.partners-icon{
	margin-top: 50px;
}



.card-hed:hover{                 /*hover карочки*/
	transform: scale(0.5.3);
background:#f6bb1b;
box-shadow: 0.4px 25px rgba(0,0,0,.25);
box-shadow: 3px 3px 3px #7b4805;
}

--------------------------------------------------------------------------------------------------------
